---
    layout: 'base.njk'
---
    <article class="main-article  dark:text-white">
        <div class="container container--narrow flow">
            <h1 class="text-3xl top-16 absolute text-center">
                {{title}}
            </h1>
            <figure class="text-center min-h-10 max-h-10  absolute  top-28" style="max-width: 45%;">
                <img src="{{ image }}" alt="{{ imageAlt }}">
                <figcaption>
                   {{ imageAlt }}
                </figcaption>
            </figure>
            {{content|safe}}
        </div>
    </article>
