<div class="absolute inset-x-0 bottom-0 dark:bg-gray-600 bg-gray-950 h-10">
    <p class="dark:text-white text-white text-lg text-center">
        GameX By Benjy Ross 2024
        <br>
            <br>
                <p></p>
            </div>