<div class=" dark:bg-gray-600 bg-gray-950 h-10 fixed bottom-0 min-w-full">
    <p class="dark:text-white text-white text-lg text-center">
        &copy; GameX By Benjy Ross 2024
        <br>
            <br>
                <p></p>
            </div>